body {
  background: #CDF0EA;
}

h1 {
  color: #F9F9F9;
}

h3 {
  color: #F9F9F9;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 3%
}
